/* || General styles */


* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
  }
  
  
#header-picture img {
    max-width: 100%;
  }


  /* || Typography */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body p,
body ul,
body h1,
body h2,
body h3,
body td,
body a {
  font-family: 'Roboto', sans-serif;
}

