/* || General styles */


* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
  }
  
  
#header-picture img {
    max-width: 100%;
  }

.red {
    color: red;
  }

/* || Typography */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body p,
body ul,
body h1,
body h2,
body h3,
body td,
body a {
  font-family: 'Roboto', sans-serif;
}


/* || Header */


#navbar{
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
  }
  
#navbar img {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }
  
#navbar ul {
    float:right;
  }
  
#navbar li {
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
  }
  
#navbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: 10px;
  }
  
#header li a:hover {
    color: #FF0000;
    border-radius: 5px;  
  }
  

/* || Footer */


#footer {
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
#footer h2 {
    color: #FFFFFF;
  }
  
#sitemap ul, 
#social-links ul {
    list-style-type: none;
  }
  
#sitemap li,
#social-links li{
    display: inline;
  }
  
#sitemap h2,
#social-links h2{
    text-align: center;
  }
  
  
.fa-brands, 
.fa-image, 
.fa-person,  
.fa-house,
.fa-music {
    color: #ffffff;
    font-size: 2rem;
    margin: 20px;
  }
  
.fa-brands:hover,
.fa-image:hover,
.fa-person:hover,
.fa-house:hover,
.fa-music:hover{
    color: #FF0000;
  }
  

/* || Home Page */


#about-text {
    text-align: center;
    margin: 5%;
  }
  
#home-content {
    overflow: hidden;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
  }
  
#home-content div {
    padding: 40px 20px;
    margin: 20px;
    background-color: #FF0000;
    border-radius: 20px;
  }

#home-content div:hover {
    background-color: #A31D00;  
  }
  
#home-content h2, #home-content p {
    text-align: center;
    color: #FFFFFF;
  }
  
.pointer {
    cursor: pointer;
  }

#about-the-band {
    padding-bottom: 5%;
    color: #ff0000;
  }

#about-text a {
    text-decoration: none;
    color: #5A5A5A;
  }
  
#about-text a:hover {
    text-decoration: none;
    color: #3b3b3b;
  }


/* || Gallery Page */


.gallery {
    column-count: 3;
    clear: both;
    column-gap: 0px;
    line-height: 0;
  }
  
.gallery img{
      width: 100%;
  }
  
#gallery-container h1, #gallery-container h2 {
    text-align: center;
     margin: 5%;
  }
  

/* || Media Page */


audio {
    width: 100%;
    height: 50px;
  }
  
iframe {
    padding: 5%;
  
  }

/* credit to https://github.com/LinusYong123/music_player/blob/main/style.css for audio styling below*/
audio::-webkit-media-controls-panel{
    background-color: #FF0000;;
}

.media-margin {
  margin: 5%;
}

.media-margin h2 {
  margin: 50px 0;
}

.row div {
  margin: 20px 0;
}


/* || Members Page */


#current-members {
    text-align: center;
    margin: 5% 0;
  }
  
.member {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
  }
  
.member img {
    max-width: 30%;
  }
  
.member table {
    font-size: 20px;
  }
  
.member td, .member h2 {
    padding: 10px 20px;
  }
  
.member h2 {
    text-align: center;
  }
  
.black {
    background-color: #000000;
    color: white;
    padding: 20px 0;
  }
  
.white {
    background-color: #FFFFFF;
    color: #000000;
  }
  
#black-background {
    background-color: #000000;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 20px;
  }
  
#no-margin-top {
    margin-top: 0;
  }
  
  
/* || Header Media Queries */


@media screen and (max-width: 576px) {
    #navbar li, #navbar ul {
      float: none;
      display: block;
      text-align: center;
      padding: 10px 0;
    }
    
    #navbar img {
      float: none;
      display: block;
      margin: 0 auto;
    }
    
    
  }


/* || Footer Media Queries */


@media screen and (max-width: 768px) {
    #footer {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }


/* || Home Page Media Queries */


@media screen and (max-width: 576px) {
    #home-content {
      flex-direction: column;
    }
  }


/* || Gallery Page Media Queries */


@media screen and (max-width: 992px) {
    .gallery {
    column-count: 2;
    }
  }
   
@media screen and (max-width: 576px) {
    .gallery {
    column-count: 1;
    }
  }


/* || Members Page Media Queries */


@media screen and (max-width: 992px) {
    .table-member td{
      font-size: 16px;
    }
  }
  
@media screen and (max-width: 576px) {
    .member {
      display: block;
      text-align: center;
    }
  
    .table-member {
      margin: 0 auto;
    }
  
    .table-member td{
      font-size: 16px;
    }
  
    .member img {
    max-width: 50%;
    }
    .member td {
    padding: 5px;
    }
  }