/* || General styles */


* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
  }
  
  
#header-picture img {
    max-width: 100%;
  }


  /* || Typography */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body p,
body ul,
body h1,
body h2,
body h3,
body td,
body a {
  font-family: 'Roboto', sans-serif;
}


/* || Header */


#navbar{
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
  }
  
#navbar img {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }
  
#navbar ul {
    float:right;
  }
  
#navbar li {
    display: inline;
    margin-right: 10px;
    padding-right: 10px;
  }
  
#navbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    border: 10px;
  }
  
#header li a:hover {
    color: #FF0000;
    border-radius: 5px;  
  }
  

/* || Footer */

#footer {
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
#footer h2 {
    color: #FFFFFF;
  }
  
#sitemap ul, 
#social-links ul {
    list-style-type: none;
  }
  
#sitemap li,
#social-links li{
    display: inline;
  }
  
#sitemap h2,
#social-links h2{
    text-align: center;
  }
  
  
.fa-brands, 
.fa-image, 
.fa-person,  
.fa-house,
.fa-music {
    color: #ffffff;
    font-size: 2rem;
    margin: 20px;
  }
  
.fa-brands:hover,
.fa-image:hover,
.fa-person:hover,
.fa-house:hover,
.fa-music:hover{
    color: #FF0000;
  }
  
  